*{
    margin:0px;
    padding: 0px;
    font-family:  Arial, sans-serif;
}
body{
    text-align: center;
    background-color: cadetblue;
}

.container{
    margin-top: 3vh;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
   background-color: bisque;
    border: none;
   border-radius: 0.5rem;
   box-shadow: 0 0 rgb(0 0 0.4);
   font-size: 8vmin;
   color: brown;
}
#reset-btn{
     border: none;
     background-color: brown;
     color: aliceblue;
     border-radius: 1rem;
     width: 4rem;
     box-shadow:0 0 rgba(0 0 0.9);
}


.msg-container{

    font-size: 1rem;
}
#new-btn{
    border: none;
    background-color: brown;
    color: aliceblue;
    border-radius: 1rem;
    width: 4rem;
    box-shadow:0 0 rgba(0 0 0.9);
   
}
#msg{
    margin-bottom: 1rem;
    color: aliceblue;
}